@using BiolifeOrganic.Bll.ViewModels.Basket
@model BasketViewModel


<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <div class="shpcart-subtotal-block">
        <div class="subtotal-line">
            <b class="stt-name">Subtotal <span class="sub">(@Model.TotalCount)</span></b>
            <span class="stt-price">£@Model.TotalPrice</span>
        </div>
        <p class="pickup-info"><b>Free Pickup</b> is available as soon as today</p>

        <div class="btn-checkout">
            <a asp-controller="checkout" class="btn checkout">Check out</a>
        </div>

    </div>
        
</div>

       


       

