  <!-- Main content -->
<div class="page-contain page-404">

    <div id="main-content" class="main-content">
        <div class="container">

            <div class="row">

                <div class="content-404">
                    <h1 class="heading">403</h1>
                    <h2 class="title">Oops! Access Denied</h2>
                    <p>Sorry,You need to be register! </p>
                    <a asp-controller="home" class="button">Go to Home</a>
                </div>

            </div>

        </div>

    </div>

</div>
