@using BiolifeOrganic.Bll.ViewModels.WebContact
@model CreateWebContactViewModel

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Web Contact</h4>

            <form asp-area="Admin"
                  asp-controller="WebContact"
                  asp-action="Create"
                  method="post"
                  class="forms-sample">

                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="EmailAgree" class="form-control" placeholder="Email" />
                    <span asp-validation-for="EmailAgree" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Phone</label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Phone" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Address</label>
                    <input asp-for="Address" class="form-control" placeholder="Address" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Schedule</label>
                    <input asp-for="Schedule" class="form-control" placeholder="Schedule" />
                    <span asp-validation-for="Schedule" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Contact Type</label>
                    <select asp-for="ContactOption" class="form-control">
                        <option value="Web">Web</option>
                        <option value="Transport">Transport</option>
                    </select>
                </div>

                <div class="form-check mb-3">
                    <input asp-for="IsDefault"
                           type="checkbox"
                           class="form-check-input"
                           id="isDefaultCheckbox" />

                    <label class="form-check-label" for="isDefaultCheckbox">
                        Set as Default
                    </label>
                </div>


                <button type="submit" class="btn btn-primary mr-2">Create</button>
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>

<script>
    document.querySelector('input[name="EmailAgree"]').addEventListener('input', function () {
        if(this.value.length > 100) this.value = this.value.substring(0,100);
    });
    document.querySelector('input[name="PhoneNumber"]').addEventListener('input', function () {
        if(this.value.length > 20) this.value = this.value.substring(0,20);
    });
</script>
