@model int

<a asp-controller="wishlist" asp-action="index">
    <span class="icon-qty-combine">
        <i class="icon-heart-bold biolife-icon"></i>
        <span class="qty">@Model</span>
    </span>
</a>