@using BiolifeOrganic.Bll.ViewModels.Header
@model HeaderViewModel


<!-- HEADER -->
<header id="header" class="header-area style-01 layout-03">
    <div class="header-top bg-main hidden-xs">
        <div class="container">
            <div class="top-bar left">
                <ul class="horizontal-menu">
                    @foreach(var contact in Model.WebContacts)
                    {
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>@contact.EmailAgree</a></li>

                    }
                </ul>
            </div>
            <div class="top-bar right">

                <ul class="horizontal-menu" style="text-align:center">

                    @if (User.Identity!.IsAuthenticated)
                    {
                        <li>
                            <a asp-controller="account" asp-action="logout">
                                <i class="biolife-icon icon-login"></i>LogOut
                            </a>
                        </li>  
                        <li>
                            <a asp-controller="account" asp-action="changepassword">
                                Change Password

                            </a>

                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="account" asp-action="login">
                                <i class="biolife-icon icon-login"></i>
                                <span></span>Login
                            </a>

                        </li>

                        <li>
                            <a asp-controller="account" asp-action="register">Register</a>

                        </li>
                    }






                </ul>

            </div>
        </div>
    </div>

















    <div class="header-middle biolife-sticky-object ">
        <div class="container">
            <div class="row">
                @foreach(var log in Model.Logos)
                {
                    <div class="col-lg-3 col-md-2 col-md-6 col-xs-6">
                        <a asp-controller="home" asp-action="index" class="biolife-logo"><img src="~/images/@log.Name" alt="biolife logo" width="135" height="34"></a>
                    </div>
                }

                <div class="col-lg-6 col-md-7 hidden-sm hidden-xs">
                    <div class="primary-menu">
                        <ul class="menu biolife-menu clone-main-menu clone-primary-menu" id="primary-menu" data-menuname="main menu">
                            <li class="menu-item"><a asp-controller="home" asp-action="index">Home</a></li>
                            <li class="menu-item">
                                <a asp-controller="shop" asp-action="index">Shop</a>
                            </li>
                            <li class="menu-item"><a asp-controller="basketcontroller" asp-action="index">Basket</a></li>

                            <li class="menu-item"><a asp-controller="wishlist" asp-action="index">Wishlist</a></li>

                            <li class="menu-item"><a asp-controller="contact" asp-action="index">Contact</a></li>

                            <li class="menu-item"><a asp-controller="aboutus" asp-action="index">About Us</a></li>
                        </ul>
                    </div>
                </div>




                <div class="col-lg-3 col-md-3 col-md-6 col-xs-6">
                    <div class="biolife-cart-info">

                        <div class="wishlist-block hidden-sm hidden-xs">
                            <a asp-controller="wishlist">
                                <span class="icon-qty-combine">
                                    <i class="icon-heart-bold biolife-icon"></i>
                                    <span class="qty">4</span>
                                </span>
                            </a>
                        </div>
                        <div class="minicart-block">
                            <div class="minicart-contain">
                                
                               
                                    @await Component.InvokeAsync("MiniHeaderBasket")
                                
                                


                               
                                <div class="cart-content">
                                    <div class="cart-inner">
                                        <ul class="products">
                                            
                                                @await Component.InvokeAsync("MiniBasket")

                                                @* <div class="minicart-item">
                                                    <div class="thumb">
                                                        <a href="#"><img src="~/images/minicart/pr-01.jpg" width="90" height="90" alt="National Fresh"></a>
                                                    </div>
                                                    <div class="left-info">
                                                        <div class="product-title"><a href="#" class="product-name">National Fresh Fruit</a></div>
                                                        <div class="price">
                                                            <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                            <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                        </div>
                                                        <div class="qty">
                                                            <label for="cart[id123][qty]">Qty:</label>
                                                            <input type="number" class="input-qty" name="cart[id123][qty]" id="cart[id123][qty]" value="1" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="action">
                                                        <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                        <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </div>
                                                </div> *@
                                            
                                           @*  <li>
                                                <div class="minicart-item">
                                                    <div class="thumb">
                                                        <a href="#"><img src="~/images/minicart/pr-02.jpg" width="90" height="90" alt="National Fresh"></a>
                                                    </div>
                                                    <div class="left-info">
                                                        <div class="product-title"><a href="#" class="product-name">National Fresh Fruit</a></div>
                                                        <div class="price">
                                                            <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                            <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                        </div>
                                                        <div class="qty">
                                                            <label for="cart[id124][qty]">Qty:</label>
                                                            <input type="number" class="input-qty" name="cart[id124][qty]" id="cart[id124][qty]" value="1" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="action">
                                                        <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                        <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="minicart-item">
                                                    <div class="thumb">
                                                        <a href="#"><img src="~/images/minicart/pr-03.jpg" width="90" height="90" alt="National Fresh"></a>
                                                    </div>
                                                    <div class="left-info">
                                                        <div class="product-title"><a href="#" class="product-name">National Fresh Fruit</a></div>
                                                        <div class="price">
                                                            <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                            <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                        </div>
                                                        <div class="qty">
                                                            <label for="cart[id125][qty]">Qty:</label>
                                                            <input type="number" class="input-qty" name="cart[id125][qty]" id="cart[id125][qty]" value="1" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="action">
                                                        <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                        <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="minicart-item">
                                                    <div class="thumb">
                                                        <a href="#"><img src="~/images/minicart/pr-04.jpg" width="90" height="90" alt="National Fresh"></a>
                                                    </div>
                                                    <div class="left-info">
                                                        <div class="product-title"><a href="#" class="product-name">National Fresh Fruit</a></div>
                                                        <div class="price">
                                                            <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                            <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                        </div>
                                                        <div class="qty">
                                                            <label for="cart[id126][qty]">Qty:</label>
                                                            <input type="number" class="input-qty" name="cart[id126][qty]" id="cart[id126][qty]" value="1" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="action">
                                                        <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                        <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="minicart-item">
                                                    <div class="thumb">
                                                        <a href="#"><img src="~/images/minicart/pr-05.jpg" width="90" height="90" alt="National Fresh"></a>
                                                    </div>
                                                    <div class="left-info">
                                                        <div class="product-title"><a href="#" class="product-name">National Fresh Fruit</a></div>
                                                        <div class="price">
                                                            <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                            <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                        </div>
                                                        <div class="qty">
                                                            <label for="cart[id127][qty]">Qty:</label>
                                                            <input type="number" class="input-qty" name="cart[id127][qty]" id="cart[id127][qty]" value="1" disabled>
                                                        </div>
                                                    </div>  
                                                  <div class="action">
                                                        <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                        <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </li>*@
                                        </ul>
                                        <p class="btn-control">
                                            <a asp-controller="basket" asp-action="index" class="btn view-cart">view cart</a>
                                            <a asp-controller="checkout" asp-action="index" class="btn">checkout</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-menu-toggle">
                            <a class="btn-toggle" data-object="open-mobile-menu" href="javascript:void(0)">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div> 
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="header-bottom hidden-sm hidden-xs">
        <div class="container">
            <div class="row">

                <div class="col-lg-9 col-md-8 padding-top-2px">
                    <div class="header-search-bar layout-01">
                        <form asp-controller="Search" asp-action="Index"  class="form-search" name="desktop-seacrh" method="get">
                            <input type="text" name="searchText" class="input-text" value="" placeholder="Search here...">
                            <select name="categoryId">
                                <option value= selected>All Categories</option>
                                @foreach(var item in Model.Categories)
                                {
                                    <option value=@item.Id>@item.Name</option>
                                }

                            </select>
                            <button type="submit" class="btn-submit"><i class="biolife-icon icon-search"></i></button>
                        </form>
                    </div>
                    <div class="live-info">
                        @foreach(var wc in Model.WebContacts)
                        {
                            <p class="telephone"><i class="fa fa-phone" aria-hidden="true"></i><b class="phone-number">@wc.PhoneNumber</b></p>
                            <p class="working-time">@wc.Schedule</p>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div> 
</header>

