.live-results {
    position: absolute;
    top: 100%;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    z-index: 9999;
    display: none;
}

.result-item {
    padding: 8px;
    cursor: pointer;
}

    .result-item:hover {
        background: #f2f2f2;
    }
