.testml-elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

    
    .testml-elem .avata.default {
        width: 217px;
        height: 217px;
        border-radius: 50%;
        background-color: #ffe5e5; 
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 72px;
        font-weight: bold;
        color: #ff4d4d;
        text-transform: uppercase;
        box-shadow: 0 2px 6px rgba(0,0,0,0.15);
        margin-bottom: 15px;
    }

   
    .testml-elem .avata.photo {
        width: 217px;
        height: 217px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 15px;
    }

        .testml-elem .avata.photo img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
            display: block;
            border-radius: 50%;
        }
