@using BiolifeOrganic.Bll.ViewModels.Wishlist
@model List<WishlistItemViewModel>


<div class="page-contain category-page no-sidebar">
    <div class="container">
        <div class="row">

            <div id="main-content" class="main-content col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="row">
                    <ul class="products-list">

                        <div id="wishlistList">
                             


                            @await Component.InvokeAsync("Wishlist")


                        </div>

                    </ul>

                </div>



            </div>


        </div>
   
    </div>

</div>



