@using BiolifeOrganic.Bll.ViewModels.CheckOut
@model CheckoutViewModel
<div class="container">
    <nav class="biolife-nav">
        <ul>
            <li class="nav-item"><a asp-controller="home" asp-action="index">Home</a></li>
            <li class="nav-item"><a asp-controller="shoppingcart" asp-action="index">ShoppingCart</a></li>
            <li class="nav-item"><span class="current-page">Checkout</span></li>
        </ul>
    </nav>
</div>

<div class="page-contain checkout">
    <div id="main-content" class="main-content">
        <div class="container sm-margin-top-37px">
            <div class="row">
                <!-- Левая часть: форма оформления заказа -->
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="checkout-progress-wrap">
                        <ul class="steps">
                            
                            <form asp-controller="checkout" asp-action="index"  id="form1"  method="post" >

                                <!-- STEP 1 - Shipping -->
                                <li class="step">
                                    <div class="checkout-act locked" id="step1">
                                        <h3 class="title-box">
                                            <span>Shipping</span>
                                        </h3>
                                        <div class="box-content">
                                            <p class="txt-desc">Enter your shipping details</p>
                                            <div class="form-row">
                                                <label for="shippingPhone">LastName *</label>
                                                <input asp-for="LastName" type="text" name="LastName" id="shippingLastName" placeholder="LastName" required>
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </div>
                                            <div class="form-row">
                                                <label for="shippingPhone">FirstName *</label>
                                                <input asp-for="FirstName" type="text" name="FirstName" id="shippingFirstName" placeholder="FirstName" required>
                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                            </div>
                                            <div class="form-row">
                                                <label for="shippingPhone">Phone *</label>
                                                <input asp-for="PhoneNumber" type="text" name="PhoneNumber" id="shippingPhone" placeholder="Phone number" required>
                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                            </div>
                                            <div class="form-row">
                                                <label for="shippingPhone">Email *</label>
                                                <input asp-for="Email" type="text" name="Email" id="shippingEmail" placeholder="Email" required>
                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                            </div>
                                            <div class="form-row">
                                                <label for="shippingCountry">Country *</label>
                                                <input asp-for="Country" type="text" name="Country" id="shippingCountry" placeholder="Country" required>
                                                <span asp-validation-for="Country" class="text-danger"></span>
                                            </div>
                                            <div class="form-row">
                                                <label for="shippingCity">City *</label>
                                                <input asp-for="City" type="text" name="City" id="shippingCity" placeholder="City" required>
                                                <span asp-validation-for="City" class="text-danger"></span>
                                            </div>
                                            <div class="form-row">
                                                <label for="shippingAddress">Address Line *</label>
                                                <input asp-for="Address" type="text" name="Address" id="shippingAddress" placeholder="Street, house/apartment" required>
                                                <span asp-validation-for="Address" class="text-danger"></span>
                                            </div>
                                            <div class="form-row">
                                                <label for="shippingPostalCode">Postal Code *</label>
                                                <input asp-for="PostalCode" type="text" name="shippingPostalCode" id="shippingPostalCode" placeholder="Postal code" required>
                                            </div>
                                                 
                                        </div>
                                    </div>
                                </li>
                                        <button type="submit" class="btn">Submit Order</button>


                            </form>
                                                   
                                                    
                               
                                    
                                           
                                           
                                            



                            

                        </ul>
                    </div>
                </div>
                <!-- Правая часть: Order Summary -->
                @await Html.PartialAsync("_OrderSummary", Model)
            </div>
        </div>
    </div>
</div>



